<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>org.openworm.simulationengine.simulation</display-name>
  <servlet>
    <servlet-name>SimulationServlet</servlet-name>
    <servlet-class>org.openworm.simulationengine.simulation.SimulationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimulationServlet</servlet-name>
    <url-pattern>/SimulationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>org.openworm.simulationengine.simulation.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>